name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [8.1, 8.2, 8.3, 8.4]
        laravel: ["10.*", "11.*", "12.*", "13.*"]
        include:
          - laravel: 10.*
          - laravel: 11.*
          - laravel: 12.*
          - laravel: 13.*
        exclude:
          - laravel: 10.*
            php: 8.4
          - laravel: 11.*
            php: 8.1
          - laravel: 12.*
            php: 8.1
          - laravel: 13.*
            php: 8.1
          - laravel: 13.*
            php: 8.2

    name: P${{ matrix.php }} - L${{ matrix.laravel }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install dependencies
        run: |
          composer require "illuminate/validation:${{ matrix.laravel }}" --no-interaction --no-update
          composer update --prefer-dist --no-interaction

      - name: Run PHPUnit
        uses: php-actions/phpunit@v3
        with:
          configuration: ./phpunit.xml
          memory_limit: 256M
